<div class="breadcrumb">
  <h4 class="whitetxt">Usuarios</h4>
</div>
<div class="search-field">
</div>

<div class="inner-padding">
			  <table class="table">
			    <tbody>
			      <% @users.each do |user| %>
			        <tr>
			          <%= render user %>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
				<%= link_to "Crear usuario", new_user_path, class: "button success round" %>
</div>
