<div class="breadcrumb">
  <h4 class="whitetxt">Creación de nuevo banner</h4>
</div>
<div class="search-field"></div>
<div class="back_link">
  <%= link_to homes_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>
<br />
<%= render 'form' %>



