// import the CSS framework
@import "foundation";
$primary:#FFD41F;

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
@mixin six-centered {
  @extend .large-6;
  @extend .columns;
  @extend .large-centered;
  }
	
.button{
	@extend .button;
	padding: 5px 40px;
	&.success{
		background: $primary;
		color: #888;
		&:hover{
			background: darken($primary,10%);
		}
	}
}

// create your own classes
// to make views framework-neutral
.row-x{
	@extend .row;
	max-width: 80em;
}
.centerize{
	@include six-centered;
}
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  width: 77%;
	float: right;
  background-color: #f9f9f9;
	min-height: 720px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation:not(:empty) {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}
