/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic');

@mixin border-radius($foo:5px){
	-webkit-border-radius: $foo;
	-moz-border-radius: $foo;
	border-radius: $foo;
}

@mixin shadow($anchura:-11px, $radius: 20px){
	-webkit-box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
	-moz-box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
	box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

h6 {
  font-weight: 400;
  font-size: 16px;
}

.ib{
	display: inline-block;
}

.redtxt{
	color: red;
}

.whitetxt{
	color: #fff;
}

.italic{
	font-style: italic;
}

.transparent{
	background: rgba(255,255,255,.3);
}

.radius{
	@include border-radius(10px);
}

.main-logout{
	background: url("") no-repeat center center;
	background-image: image-url("login-bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.titular {
    width: 310px;
    padding-top: 40px;
    margin: 0 auto;
}



.logo {
  background: url("") no-repeat center 20px;
  background-image: image-url("pies-blanco.png");
  height: 100px;
}

.app-name {
  
  text-align: center;
  margin-top: 14px;
  border-top: solid #FFD41F 2px;
  padding-top: 5px;
  
  h3{
    
        font-size: 15px;
    font-weight: bold;
    color: #FFD41F;
  }
  
  p{
    font-size: 15px;
    margin-top: -14px;
    color: #fff;
    padding: 7px;
    font-style: italic;
    font-weight: 400;
  }
}


.pos-bottom{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding-bottom: 20px;
}

.inner-padding{
	padding:0 20px;
}

.downer{
	background: rgba(255,255,255,.1);
	padding:10px 20px;
	a{
		display: block;
		color: #fff;
		text-decoration: underline;
		text-align: center;
	}
}

.login{
	width: 350px;
  margin: 0 auto;
	input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
		background: white;
		@include border-radius(50px);
		border: 0;
		text-align: center;
	}
}

.nav-menu{
	width: 23%;
	float: left;
	@include shadow;
	height: 100vh;
}

.nav{

    margin-left:0px;

	li.main{
		list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    
			span.fix{
				position: relative;
				top:-5px;
				 padding-left: 8px;
				 color: #888;
			}
			i{
				width: 40px;
				border-right: 1px solid #888888;
				padding-right: 10px;
			}
		}
		
		li a{
      padding-left: 15px;
		}
		a{
    color: #888;
    }
		a :hover {
		  color: #232321;
		  
		}
	}


.subitem{
      list-style-position: inside;
      padding-left: 0px;
      margin-top: 10px;
      a {
      color: #fff;
      font-size: smaller;
      }
}

.subitem :hover {

      a {
      color: #FFD41F;
     
      }
}

.submenu{
  ul{
    background-color: #232321;
    list-style-position: inside;
    margin-left: 0px;
    
  }
  li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 43px;
    border-bottom: solid #000 1px;
  }
  
}
.nav-logo{
	padding: 20px;
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
}

.user-info{
	background: #232321;
	border-bottom: solid #000 1px;
    border-top: solid #000 1px;
	h6{
		color: #fff;
		margin: 0;
		text-align: left;
		padding-left: 10px;
	}
	height: 61px;
}

.info{
	width: 80%;
	padding-top: 5px;
  padding-left: 20px;
	display: inline-block;
	
	h6 {
	  margin-top: -11px;
    margin-left: -10px;
    font-size: 13px;
	}
}

.sign-out{
display: block;
    background: #FFD41F;
    color: #000;
    margin-top: -1px;
    height: 61px;
    width: 20%;
    float: right;
    text-align: center;
    border-bottom: solid #c6a911 1px;
    border-top: solid #c6a911 1px;
    border-left: solid #000 1px;
	span{
		font-size: 18px;
		line-height: 18px;	
	}
}

.fa-sign-out {
      margin-top: 14px;
  
}

.breadcrumb{
	width: 30%;
	background: #232321;
	text-align: center;
	padding: 40px 0;
	float: left;
	height: 120px;
	h4 {
	  font-style: italic;
    font-size: 20px;
    font-weight: 600;
	}
}
.search-field{
  width: 70%;
	padding:  15px 20px;
	background: #EDEEF0;
	display: inline-block;
	height: 120px;
	overflow: hidden;
}

.rounded{
	button{
		@include border-radius(20px);
		color:#000;
		margin:0;
	}
	select{
		margin: 0;
		@include border-radius(20px);
		max-width: 180px;
	}
	input{
		@include border-radius(20px);
		&[type="search"]{
			width: 98%;
		}
	}
}