/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic');

//esto es tan recurrente que tiene que tener su propia variable
$primary_yellow:#FFD41F;

@mixin border-radius($foo:5px){
	-webkit-border-radius: $foo;
	-moz-border-radius: $foo;
	border-radius: $foo;
}

@mixin shadow($anchura:-11px, $radius: 20px){
	-webkit-box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
	-moz-box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
	box-shadow: inset $anchura 0px $radius -9px rgba(0,0,0,0.5);
}

h4 {
	
//  font-style: italic;
 font-weight: 600;
 font-size: 17px;
}

h5 {
  font-weight: 600;
  font-size: 15px;
}

h6 {
  font-size: 13px;
//  color: #2F2F2F;
}

p {
  padding: 0px;
  margin: 0px;
  color: #636363;
  font-weight: 400;
  font-size: 13px;
}

.ib{
	  display: inline-block;

	
}

.redtxt{
	color: red;
}

.whitetxt{
	color: #fff;
}

.italic{
	font-style: italic;
}

.full-width{
	width: 100%;
}

.transparent{
	background: rgba(255,255,255,.3);
}

.radius{
	@include border-radius(10px);
}

.full{
	width: 100%;
}

.main-logout{
	background: url("https://s3.amazonaws.com/piesdescalzos/login-bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.titular {
    width: 310px;
    padding-top: 40px;
    margin: 0 auto;
}



.logo {
    padding-top: 20px;
    text-align: center;
    height: 100px;
}


.app-name {
  
  text-align: center;
  margin-top: 14px;
  border-top: solid #FFD41F 2px;
  padding-top: 5px;
  
  h3{
    font-size: 15px;
    font-weight: bold;
    color: #FFD41F;
  }
  
  p{
    font-size: 15px;
    margin-top: -14px;
    color: #fff;
    padding: 7px;
    font-style: italic;
    font-weight: 400;
  }
}


.pos-bottom{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding-bottom: 20px;
}

.inner-padding{
	padding:0 20px;
}

.authform {
  form {
	@include border-radius(8px);
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border: 0;
    
    h3 {
      color: #FFD41F;
      text-align: center;
      font-weight: 600;
      font-size: 23px;
    }
    p{
      text-align: center;
      color: #fff;
      
    }
  }
}

.boton {
    background-color: #FFD41F;
    padding: 10px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.01em;
    font-weight: bold;
    border: solid #E2B808 1px;
    width: 100%;
    
      &:hover {
        background-color: #F1C510;
        color: #fff;
      }
}

.downer{
	background: rgba(255,255,255,.1);
	padding:10px 20px;
	a{
		display: block;
		color: #fff;
		text-decoration: underline;
		text-align: center;
	}
}



.login{
	width: 350px;
  margin: 0 auto;
	input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
		background: white;
		@include border-radius(50px);
		border: 0;
		text-align: center;
	}
}

.nav-menu{
	width: 23%;
	float: left;
	@include shadow;
	height: 180%;
}

.nav{

    margin-left:0px;

	li.main{
		list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
			span.fix{
				position: relative;
				top:-3px;
				 padding-left: 8px;
				 
			}

		}
		
		li a{
      padding-left: 15px;
      color: #666;
		}
		li a:hover {
		  color: #232321 !important;
		  
		}
	}

.fa-angle {
  padding-right: 10px;
}

.fa-icon {
  width: 40px;
  border-right: 1px solid #888888;
  padding-right: 10px;
}
.fa-none {
  color: rgba(255, 255, 255, 0);
}

.item {
  padding-top: 10px;
}

.subitem{
      
      padding-left: 0px;
      margin-top: 10px;
      
      a {
          width: 100%;
          font-size: smaller;
          color: white !important;
          padding-top: 10px;
          padding-bottom: 10px;
          
      }
   
}



.submenu{
  ul{
    background-color: #232321;
    margin-left: 0px;
    color: #fff;
  }
  li{
     
    border-bottom: solid #000 1px;
        display: flex;
        
  }
  li:hover{
    background-color: #FFFFFF;
    border-bottom: solid #F8F8F8 1px;
    color: #232321 !important;
  }

  
}
.nav-logo{
	 padding-top: 40px;
   padding-bottom: 40px;
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
}

.user-info{
	background: #232321;
	border-bottom: solid #000 1px;
    border-top: solid #000 1px;
	h6{
		color: #fff;
		margin: 0;
		text-align: left;
		padding-left: 10px;
	}
	height: 61px;
}

.info{
	width: 80%;
	padding-top: 5px;
  padding-left: 20px;
	display: inline-block;
	
	h6 {
	  margin-top: -11px;
    margin-left: -10px;
    font-size: 13px;
	}
}

.sign-out{
    display: block;
    background: #FFD41F;
    color: #000;
    margin-top: -1px;
    height: 61px;
    width: 20%;
    float: right;
    text-align: center;
    border-bottom: solid #c6a911 1px;
    border-top: solid #c6a911 1px;
    border-left: solid #000 1px;
	span{
		font-size: 18px;
		line-height: 18px;	
	}
}

.fa-sign-out {
      margin-top: 20px;
  
}

a.sign-out  {
color: #232321;
  :hover {
color: #B59307 !important;
  }
}

.fa-2x {
  font-size: 20px;
}

.fa-circle-ls {
	// DONE: si la clase fa-circle-ls la cree yo, la que llama al favicon se llama otra cosa.
    font-size: 9px;
    padding-right: 8px;
    top: -2px;
    position: relative;
}

.breadcrumb{
	width: 30%;
	background: #232321;
	text-align: center;
	padding: 40px 0;
	float: left;
	height: 120px;
	h4 {
	  font-style: italic;
    font-size: 20px;
    font-weight: 600;
	}
}
.search-field{
  width: 70%;
	padding:  15px 20px;
	background: #EDEEF0;
	display: inline-block;
	height: 120px;
	overflow: hidden;
}

.circulo {
    border: 2px solid #F7F7F7;
    border-radius: 50%;
    width: 60%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #FFF;
}

table thead {
        background: #FFFFFF;
}

table {
    background: #FFFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-spacing: 0px;
    margin-bottom: 1.25rem;
    table-layout: auto;
	&.black{
		thead{
			background: black;
			tr th{
				color: white;
			}
		}
	}
}

table.dataTable thead .sorting {
    background: none !important;
}

table.dataTable thead .sorting_asc {
    background: none !important;
}

table tr th, table tr td {
    color: #5A5A5A;
    font-size: 0.875rem;
    padding: 0.5625rem 0.625rem !important;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_filter input {

    border-radius: 20px;
}

.index-icon{
    font-size: 26px;
    padding: 10px;
}

.fa-green, .greentxt {
    color: #6CD80F;
}

.fa-red {
    color: #CE0000;
}

.fa-editar {
    border-radius: 20px;
    background-color: #FFD41F;
    padding: 10px;
    color: #232321;
}

.fa-borrar {
    border-radius: 20px;
    background-color: #FF4C4C;
    padding: 10px;
    color: #fff;
}
.nospace {
    padding: 0px;
    margin: 0px;
//	quite el color pues si necesitamos un objeto sin padding y sin margin pero sin ese color? hay que poner el color en otra clase si es recurrente.. 
}
.bold{
  font-weight: bold;  

}

.relative {
      position: relative;
}

.flex {
  display: inline-flex ;
}

table tr td {
    color: #5A5A5A;
    font-size: none;
    padding: 0px;
    text-align: center;
}

.rounded{
	button{
		@include border-radius(20px);
		color:#000;
		margin:0;
	}
	select{
		margin: 0;
		@include border-radius(20px);
		max-width: 180px;
	}
	input{
		@include border-radius(20px);
		&[type="search"]{
			width: 98%;
		}
	}
}

.back_link{
	padding: 10px 20px;
	margin-top: -6px;
	i{
		width: 40px;
		height: 40px;
    font-size: 22px;
    line-height: 40px;
		@include border-radius(100%);
		background: $primary_yellow;
		color:#000;
		text-align: center;
	}
	span{
			color: gray;
	}
}

.degradado {
  width: 77%;
    height: 112px;
    position: absolute;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
}

.student-banner{
	background: url("https://s3.amazonaws.com/piesdescalzos/pies-textura.jpg") repeat-x top left;
	height: 190px;
	width: 100%;
	border-bottom: 1px solid lightgray;
	.pic{
		display: inline-table;
		width: 18%;
		img{
			width: 100px;
			height: 100px;
			@include border-radius(100%);
	    position: relative;
	    top: 15px;
	    left: 45px;
		}
	}
	.student-info{
		padding-top: 66px;
		display: inline-table;
		width: 80%;
		&.general-banner{
			padding-top: 25px;
      position: relative;
      top: -10px;
			a.button.several{
				margin: 0;
			}
		}
	}
}

.est-data {
  padding-top: 10px;
    margin-top: -6px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.accordion-navigation {

    color: #222222;
    border-bottom: solid #CCC 1px;
    border-top: solid #FFF 1px;
  
}

.accordion .accordion-navigation > a, .accordion dd > a {

    color: #222222;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px;
    
}

.pic-sede {
  display: inline-table;
    width: 18%;
    img{
      width: 130px;
      height: 130px;
      position: relative;
      top: 15px;
      left: 25px;
    }
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: #F5F5F5;
    color: #232321;
    border-bottom: solid #CCC 1px;
    border-top: solid #CCC 1px;
}

.extended-tabs{
    width: 70%;
    float: right;
    min-height: 65vh;
    padding:0 20px;
    background: #f7f7f9;
    border: solid #D3D3D3 1px;
    border-top: none;
}

.tabs-content{
	.content{
		ul.equal{
			li{
				text-transform: capitalize;
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
			}	
		}	
	}
}

.fa-ls-icon {
    min-width: 25px;
    font-size: 15px;
}

.edit-establishment{
    position: absolute;
    right: 0;
    top: -46px;
    height: 45px;
    background: #FFD41F;
    line-height: 45px;
    color: black;
    padding: 0 17px;
}

.accordion .accordion-navigation > .content, .accordion dd > .content{
	position: relative;
}

.edit_tabs{
	display: none;
}

.no-so-big{
	max-width: 600px;
}

$size_tab:57px;
.tabs.vertical{
	max-width: 30%;
	width: 30%;
	.tab-title{
	   
		&.active{
		    position: relative;
			border-left: 6px solid $primary_yellow;
			   a {
			     color: #232321;
			   }
			
			.edit_tabs{
				display: inline-block;
			    float: right;
			    position: absolute;
			    top: 0;
			    right: 0;
			    width:$size_tab;
			    height:$size_tab;
			    background: $primary_yellow;
				a{
				  color: #232321;
					display: block;
					width: 100%;
					height: 100%;
				}
				i{
				  text-align: center;
				  display: block;
				  line-height:$size_tab;
				  color: #000;
				}
			}
		}
		a{
		  font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      line-height: 25px;
      font-weight: 600;
      color: #848484;

		}
	}
}

.tabs dd > a, .tabs .tab-title > a {
    background-color: #fff;
}

.tabs .tab-title > a:hover {
    background-color: #F3F3F3;
}

.inline-select{
	text-align: right;
	select{
		display: inline-block;
		width: 31%;
		margin: 0 2px;
	}
}

label.inline{
	
}



.form-group {
  padding-top: 10px;
    label {
      color: #fff;
    }
    a {
      color:#FFD41F;
    }
}

.checkbox {
  label {
    color: #fff;
  }
}

.form-actions {
	//TO-DO: escribir algo tan especifico para solo inputs es muy abierto y afectaria a muchos tipos de botones que despues queramos poner ahi con la clase expand y success que son por defecto de foundation mas nospace se logra lo mismo
//    input {
//        font-size: 16px;
//        line-height: 30px;
//        border-radius: 10px;
//        background: #FFD41F;
//        font-weight: 600;
//        width: 100%;
//        color: #000;
//        text-align: center;
//        font-family: 'Open Sans', sans-serif;
//    }
}

.labeling{
    color: #848484;
    float: left;
    width: 40%;
    text-align: left;
    font-weight: 600;
}

#container{
	width: 100%;
	max-width: 700px;
}

.subitem{
	display: none;
}

.modal-header{
	background: black;
	padding: 20px;
	text-align: center;
}

.modal-content{
	padding-top: 15px;
}

.reveal-modal.small {
    width: 42%;
}

.column, .columns, {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}

.b-header {
  background-color: #ffd41f;
}

.alert-box.warning, .authform .warning#error_explanation:not(:empty) {
    background-color: #ffd41f;
    border-color: #C7A309;
    color: #333333;
    border-radius: 0px;
}

.reveal-modal .close-reveal-modal {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 17px;
    right: 1.375rem;
}

.row, .row-x, section {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}


.graph{
	width: 100%;
	max-width: 700px;
}
.inside-content{
	padding:0 20px;
	max-width: 70%;
}

.lefty{
	width: 39%;
	background: black;
	display: inline-block;
}

.right-content{
  background: white;	
  display: inline-block;
  width: 60%;
  a{
	  background: yellow;
	  color: #000;
	  @include border-radius(20px);
  }
}