<div class="breadcrumb">
  <h4 class="whitetxt">Editar actividad</h4>
</div>
<div class="search-field">
	<br />
    <h5 class="subheader">En esta pantalla podras editar actividades y asociarlas con estudiantes</h5>
</div>


<%= render 'form' %>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
