<div class="breadcrumb">
  <h4 class="whitetxt">Nueva actividad</h4>
</div>
<div class="search-field">
	<br />
    <h5 class="subheader">En esta pantalla podras crear nuevas actividades e inscribiarlas a programas</h5>
</div>

<%= render 'form' %>
